body{
	font-family:Helvetica, Arial, Times New Roman;
	font-size:20px;
	
}
h1{
	font-size:35px;
}
h2{
	font-size:30px;
}
h3{
	font-size:25px;
}

/*Wrapper, adds a white outer part to each page*/
.wrapper{
	background-color:#F0F0F0;
	width:90%;
	margin:auto;
	
}

main{
	margin-left:10%;
	margin-right:10%;
}
/*Playing around with flex for images on index*/
.flex{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	padding:15px;
	margin-left:10%;
	margin-right:10%;
	
	
}
.flex > img{
	border:solid;
	border-color:black;
	border-width:1px;
	
}
.flex-item{
	display:flex;
	text-align:center;
	align-items:center;
	flex-wrap:wrap;
	margin:auto;
}
.code{
	margin-left:25%;
	margin-right:25%;
	background-color:#E0E0E0;
	border:solid;
	border-color:#D0D0D0;
	border-width:1px;

}

/*"Borrowed" code, I couldn't figure out how to wrap text in pre*/
pre {
overflow-x: auto;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
}

/*This is all for my nav bar*/
nav{
	margin:auto;
	padding:1px;
	background-color:#9423cc;
	
}
nav img{
	float:left;
	position:absolute;
	left:5%;
	
	padding-right:30px;
}
nav ul{
	list-style-type:none;
}

nav li{
	
	display:inline-block;
	padding-left:20px;
	text-align:center;
}
nav li:nth-child(1){
	padding-left:50px;
}
nav a{
	display:inline-block;
	padding:1rem;
	text-decoration:none;
	font-weight:bold;
	color:white;
}

nav a:hover{
	background-color:#6d1aa3;
	
	color:white;
}

/*Style sections so they have a line below them to break up content*/
section{
	border-bottom:solid;
	border-width:1px;
}
iframe{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
